首先导入所有的依赖，并且读入数据

In [3]:
import re
import numpy as np
import pandas as pd
import random as rd
from sklearn import preprocessing
import matplotlib.pyplot as plt
%matplotlib inline


data = pd.read_csv('./bankloan.csv', header=0)
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13  A14  A15  A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202    0    1
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43  560    1
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280  824    1
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100    3    1
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120    0    1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      678 non-null    object
 1   A2      690 non-null    float64
 2   A3      690 non-null    float64
 3   A4      684 non-null    object
 4   A5      684 non-null    object
 5   A6      681 non-null    object
 6   A7      681 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    int64
 14  A15     690 non-null    int64
 15  A16     690 non-null    int64
dtypes: float64(3), int64(4), object(9)
memory usage: 86.4+ KB